/**
 * Created by JowinWaaijer on 05-04-17.
 */
.THIS {
}


.THIS .slds-spinner--small {
	width: 1rem;
    float: right;
    position:relative;
    left:-5px;
    top:38px;
}

.THIS .slds-spinner--small.slds-spinner:before, .THIS .slds-spinner--small.slds-spinner:after, .THIS .slds-spinner--small .slds-spinner__dot-a:before, .THIS .slds-spinner--small .slds-spinner__dot-b:before, .THIS .slds-spinner--small .slds-spinner__dot-a:after, .THIS .slds-spinner--small .slds-spinner__dot-b:after {
	width: .20rem;
    height: .20rem;
}